In [1]:
import numpy as np
import xarray as xr
import pandas as pd 
import sys 
from EchoPro import EchoPro
epro_2019 = EchoPro(init_file_path='./config_files/initialization_config.yml',
                    survey_year_file_path='./config_files/survey_year_2019_config.yml',
                    source=3,
                    bio_data_type=1,
                    age_data_status=1, 
                    exclude_age1=True)

A check of the initialization file needs to be done!
A check of the survey year file needs to be done!
Loading biological data ...

/Users/brandonreyes/UW_work/EchoPro_work/EchoPro/EchoPro/load_biological_data/load_biological_data.py:214: UserWarning: The Sex column contains values {3}, converting values greater than 2 to 2 and values less than 2 to 1
  warnings.warn(
/Users/brandonreyes/UW_work/EchoPro_work/EchoPro/EchoPro/load_biological_data/load_biological_data.py:214: UserWarning: The Sex column contains values {3}, converting values greater than 2 to 2 and values less than 2 to 1
  warnings.warn(
/Users/brandonreyes/UW_work/EchoPro_work/EchoPro/EchoPro/load_biological_data/load_biological_data.py:63: UserWarning: The Sex column contains values {3}, converting values greater than 2 to 2 and values less than 2 to 1
  warnings.warn(
/Users/brandonreyes/UW_work/EchoPro_work/EchoPro/EchoPro/load_biological_data/load_biological_data.py:63: UserWarning: The Sex column contains values {3}, converting values greater than 2 to 2 and values less than 2 to 1
  warnings.warn(
/Users/brandonreyes/UW_work/EchoPro_work/EchoPro/EchoPro/load_biological_data/load_biological_data.py:151: UserWarning: The Sex column contains values {3}, converting values greater than 2 to 2 and values less than 2 to 1
  warnings.warn(
/Users/brandonreyes/UW_work/EchoPro_work/EchoPro/EchoPro/load_biological_data/load_biological_data.py:151: UserWarning: The Sex column contains values {3}, converting values greater than 2 to 2 and values less than 2 to 1
  warnings.warn(
/Users/brandonreyes/UW_work/EchoPro_work/EchoPro/EchoPro/load_biological_data/load_biological_data.py:433: UserWarning: The Sex column contains values {3}, converting values greater than 2 to 2 and values less than 2 to 1
  warnings.warn(

In [2]:
print(sys.getsizeof(epro_2019.length_df))
# epro_2019.length_df.head()

277624

In [3]:
print(epro_2019.length_ds_bran.nbytes)
# epro_2019.length_ds_bran

75048

In [4]:
print(epro_2019.length_ds.nbytes)
# epro_2019.length_ds

63448

In [5]:
# print(np.all(epro_2019.length_df['n'].to_numpy() == epro_2019.length_ds_bran.n.values))
# print(np.allclose(epro_2019.length_df['meanlen'].to_numpy(), epro_2019.length_ds_bran.meanlen.values))
# print(np.allclose(epro_2019.length_df['stdlen'].to_numpy(), epro_2019.length_ds_bran.stdlen.values))
# print(np.allclose(epro_2019.length_df['TS_lin'].to_numpy(), epro_2019.length_ds_bran.TS_lin.values))
# print(np.allclose(epro_2019.length_df['TS_log'].to_numpy(), epro_2019.length_ds_bran.TS_log.values))
# print(np.allclose(epro_2019.length_df['nM'].to_numpy(), epro_2019.length_ds_bran.nM.values))
# print(np.allclose(epro_2019.length_df['nF'].to_numpy(), epro_2019.length_ds_bran.nF.values))

In [6]:
# print(np.all(epro_2019.length_df['n'].to_numpy() == epro_2019.length_ds_wu_jung.n.values))
# print(np.allclose(epro_2019.length_df['meanlen'].to_numpy(), epro_2019.length_ds_wu_jung.meanlen.values))
# print(np.allclose(epro_2019.length_df['stdlen'].to_numpy(), epro_2019.length_ds_wu_jung.stdlen.values))
# print(np.allclose(epro_2019.length_df['TS_lin'].to_numpy(), epro_2019.length_ds_wu_jung.TS_lin.values))
# print(np.allclose(epro_2019.length_df['TS_log'].to_numpy(), epro_2019.length_ds_wu_jung.TS_log.values))
# print(np.allclose(epro_2019.length_df['nM'].to_numpy(), epro_2019.length_ds_wu_jung.nM.values))
# print(np.allclose(epro_2019.length_df['nF'].to_numpy(), epro_2019.length_ds_wu_jung.nF.values))

In [7]:
# df = pd.read_excel(epro_2019.params['data_root_dir'] + epro_2019.params['filename_catch_US'])
# ds = epro_2019.load_bio.process_catch_data_ds(df)
# ds

In [8]:
# df = epro_2019.load_bio.process_catch_data_df(df)
# df.head()

In [9]:
# ds.species_code.sel(haul=73)[0: ds.no_null_length.sel(haul=73).values]

In [10]:
# df['Species_Code'].loc[73]

In [11]:
print(epro_2019.params['ave_len_wgt_M'])
print(epro_2019.params['ave_len_wgt_F'])
print(epro_2019.params['ave_len_wgt_ALL'])

0.43899002636583884
0.5179108950801983
0.4781804012273613

In [12]:
epro_2019.final_catch_table

      Species_Code  Species_Name  Number_In_Haul  Weight_In_Haul
Haul
1            22500  Pacific hake           769.0           56.25
3            22500  Pacific hake           866.0           46.25
7            22500  Pacific hake           848.0           51.90
8            22500  Pacific hake          1415.0          103.10
9            22500  Pacific hake           173.0           11.85
...            ...           ...             ...             ...
213          22500  Pacific hake             1.0            0.99
214          22500  Pacific hake             1.0            1.12
216          22500  Pacific hake            19.0           21.80
218          22500  Pacific hake             1.0            1.92
222          22500  Pacific hake            15.0           12.44

[75 rows x 4 columns]

In [13]:
epro_2019.final_trawl_table.loc[71]

,Transect,EQ_Latitude,EQ_Longitude,Cluster name,Average_Bottom_Depth,Surface_Temperature,Gear_Temperature,Length,Sex,Age,Weight,Frequency,Average_Footrope_Depth,Weight_In_Haul
Haul,,,,,,,,,,,,,,
71,83.0,48.0648,-125.62607,5,409.531342,18.132798,6.263274,33.0,1,NaN,NaN,1.0,315.683965,157.15
71,83.0,48.0648,-125.62607,5,409.531342,18.132798,6.263274,36.0,2,NaN,NaN,1.0,315.683965,157.15
71,83.0,48.0648,-125.62607,5,409.531342,18.132798,6.263274,37.0,2,NaN,NaN,2.0,315.683965,157.15
71,83.0,48.0648,-125.62607,5,409.531342,18.132798,6.263274,38.0,2,NaN,NaN,1.0,315.683965,157.15
71,83.0,48.0648,-125.62607,5,409.531342,18.132798,6.263274,39.0,1,NaN,NaN,2.0,315.683965,157.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,83.0,48.0648,-125.62607,5,409.531342,18.132798,6.263274,43.0,2,3.0,0.525,1.0,315.683965,0.00
71,83.0,48.0648,-125.62607,5,409.531342,18.132798,6.263274,40.0,1,4.0,0.460,1.0,315.683965,0.00
71,83.0,48.0648,-125.62607,5,409.531342,18.132798,6.263274,47.0,2,9.0,0.580,1.0,315.683965,0.00
71,83.0,48.0648,-125.62607,5,409.531342,18.132798,6.263274,43.0,1,9.0,0.525,1.0,315.683965,0.00
71,83.0,48.0648,-125.62607,5,409.531342,18.132798,6.263274,45.0,1,9.0,0.610,1.0,315.683965,0.00

In [14]:
# temp.head()

In [15]:
# epro_2019.catch_df[epro_2019.catch_df['Species_Code'] == epro_2019.params['species_code_ID']].head()

In [16]:
# epro_2019.gear_df.head()

In [17]:
# epro_2019.trawl_df.head()

In [18]:
# strata_df.head()

In [19]:
# epro_2019.specimen_df.head()