## Example overview of the `echopop` dataflow

Import the latest version of `echopop`.

In [7]:
import os 

os.chdir('C:/Users/Brandyn/Documents/GitHub/echopop/')

from echopop.survey import Survey

Initialize the `Survey` object by loading in input data (`Survey.input`) and configuration settings (`Survey.config`).

In [9]:
survey = Survey( init_config_path = "./config_files/initialization_config.yml" ,
                 survey_year_config_path = "./config_files/survey_year_2019_config.yml" )

The method `Survey.transect_analysis(...)` populates various analysis variables (`Survey.analysis`) and results (`Survey.results`). This class-method takes four user arguments: `species_id: float = 22500`, `exclude_age1: bool = True`, `stratum: str = 'ks'`, and `verbose: bool = True`. This is the primary biological data processing workhorse that is further used for later analyses, such as computing the number and weight proportions across all animals. When `verbose = True`, a console message will provide the summarized results.

In [10]:
survey.transect_analysis( )

    TRANSECT RESULTS
    --------------------------------
    Total biomass: 1651.1 kmt
        Age-1: 7.9 kmt
        Age-2+: 1643.2 kmt
    Total female biomass: 832.2 kmt
        Age-1: 4.0 kmt
        Age-2+: 828.2 kmt
    Total male biomass: 818.5 kmt
        Age-1: 3.9 kmt
        Age-2+: 814.6 kmt
    Total unsexed biomass: 0.4 kmt
    Total mixed biomass: 36.8 kmt
    --------------------------------

In [17]:
survey.results[ 'transect' ]

{'biomass_summary_df':        sex  biomass_adult  biomass_age1   biomass_all
 0      all   1.643215e+09  7.869992e+06  1.651085e+09
 1   female   8.282280e+08  3.950822e+06  8.321788e+08
 2     male   8.146257e+08  3.919170e+06  8.185449e+08
 3  unsexed   3.609296e+05  0.000000e+00  3.609296e+05
 4    mixed   3.680784e+07  0.000000e+00  3.680784e+07}

`Survey.stratified_analysis(...)` computes various stratified statistics, including the coefficient of variation (*CV*) estimates using the Jolly and Hampton (1990) stratified sampling method. Similar to `Survey.transect_analysis(...)`, a console message will provide the summarized results when `verbose = True`.

In [11]:
survey.stratified_analysis( )

    STRATIFIED RESULTS
    --------------------------------
    | Stratified variable: Biomass (kmt)
    | Age-1 fish excluded: True
    | Stratum definition: INPFC
    | Bootstrap replicates: 10000 samples
    | Resampling proportion: 0.75
    CV: 0.1329 [0.1239, 0.142; 95% CI]
    Total (across sub-sampled transects): 1227.4 kmt [1073.8, 1381.0; 95% CI]
    Mean (across sub-sampled transects): 203.2 kmt [171.7, 234.8; 95% CI]
    --------------------------------

`Survey.kriging_analysis(...)` computes the kriged estimates for the target variable. Similar to `Survey.transect_analysis(...)`, a console message will provide the summarized results when `verbose = True`.

In [12]:
survey.kriging_analysis( )

Kriging mesh cropped to prevent extrapolation beyond the defined `mesh_buffer_distance` value (1.25 nmi).
Longitude and latitude coordinates (WGS84) converted to standardized coordinates (x and y).
Extrapolation applied to kriging mesh points (187 of 11022):
            * 160 points had 0 valid range estimates without extrapolation
            * 27 points had at least 1 valid point but fewer than 3 valid neighbors
Imputed apportioned unaged male biomass at length bins:
(17.0, 19.0], (59.0, 61.0], (61.0, 63.0], (63.0, 65.0], (65.0, 67.0], (67.0, 69.0], (69.0, 71.0], (71.0, 73.0], (73.0, 75.0], (75.0, 77.0]
Imputed apportioned unaged female biomass at length bins:
(17.0, 19.0], (73.0, 75.0], (75.0, 77.0]

    KRIGING RESULTS (MESH)
    --------------------------------
    | Kriged variable: Biomass density (kg/nmi^2)
    | Age-1 fish excluded: True
    | Stratum definition: KS
    | Mesh extrapolation: False
    | Mesh and transect coordinate standardization: True
    Mean biomass density: 24416.42 kg/nmi^2
    Total survey biomass estimate: 1681.26 kmt
    Mean mesh sample CV: 0.0294
    Overall survey CV: 0.0325
    Total area coverage: 66554.4 nmi^2
   --------------------------------

Can directly extract the mesh/spatially distributed results.

In [13]:
survey.results[ 'kriging' ][ 'mesh_results_df' ]

,latitude,longitude,area,kriged_mean,kriged_variance,sample_variance,sample_cv,biomass,stratum_num
0,49.099727,-126.024144,6.250000,0.000000,0.310848,NaN,0.027415,0.000000,7
1,49.057959,-126.024127,6.250000,0.000000,0.031410,NaN,0.008715,0.000000,7
2,49.016196,-126.024110,6.250000,0.000000,0.278348,NaN,0.025942,0.000000,7
3,48.974438,-126.024093,6.250000,0.000000,0.584354,NaN,0.037588,0.000000,7
4,48.932686,-126.024076,6.250000,48215.463859,0.739334,1.303223,0.042279,301346.649118,7
...,...,...,...,...,...,...,...,...,...
19832,51.372834,-127.897092,0.001195,0.000000,1.168871,NaN,0.053161,0.000000,1
19834,54.106937,-130.750326,0.000714,0.000000,1.285899,NaN,0.055759,0.000000,1
19835,37.095809,-122.317239,0.000578,0.000000,0.896262,NaN,0.046551,0.000000,4
19836,46.277497,-124.122584,0.000552,0.000000,1.125700,NaN,0.052170,0.000000,5
19837,52.494106,-131.756807,0.000507,0.000000,1.117245,NaN,0.051974,0.000000,1

In [14]:
survey.results['kriging']['tables']['overall_apportionment_df']

           age_bin     sex    length_bin  biomass_apportioned
0       (0.5, 1.5]     all    (1.0, 3.0]                  0.0
1       (0.5, 1.5]  female    (1.0, 3.0]                  0.0
2       (0.5, 1.5]    male    (1.0, 3.0]                  0.0
3       (1.5, 2.5]     all    (1.0, 3.0]                  0.0
4       (1.5, 2.5]  female    (1.0, 3.0]                  0.0
...            ...     ...           ...                  ...
2635  (20.5, 21.5]  female  (79.0, 81.0]                  0.0
2636  (20.5, 21.5]    male  (79.0, 81.0]                  0.0
2637  (21.5, 22.5]     all  (79.0, 81.0]                  0.0
2638  (21.5, 22.5]  female  (79.0, 81.0]                  0.0
2639  (21.5, 22.5]    male  (79.0, 81.0]                  0.0

[2640 rows x 4 columns]

In [15]:
survey.results['kriging']['tables']['aged_tbl']

age_bin              (0.5, 1.5]  (1.5, 2.5]  (2.5, 3.5]  (3.5, 4.5]  \
sex    length_bin
female (1.0, 3.0]           0.0         0.0         0.0         0.0
       (3.0, 5.0]           0.0         0.0         0.0         0.0
       (5.0, 7.0]           0.0         0.0         0.0         0.0
       (7.0, 9.0]           0.0         0.0         0.0         0.0
       (9.0, 11.0]          0.0         0.0         0.0         0.0
...                         ...         ...         ...         ...
male   (71.0, 73.0]         0.0         0.0         0.0         0.0
       (73.0, 75.0]         0.0         0.0         0.0         0.0
       (75.0, 77.0]         0.0         0.0         0.0         0.0
       (77.0, 79.0]         0.0         0.0         0.0         0.0
       (79.0, 81.0]         0.0         0.0         0.0         0.0

age_bin              (4.5, 5.5]  (5.5, 6.5]  (6.5, 7.5]  (7.5, 8.5]  \
sex    length_bin
female (1.0, 3.0]           0.0         0.0         0.0         0.0
       (3.0, 5.0]           0.0         0.0         0.0         0.0
       (5.0, 7.0]           0.0         0.0         0.0         0.0
       (7.0, 9.0]           0.0         0.0         0.0         0.0
       (9.0, 11.0]          0.0         0.0         0.0         0.0
...                         ...         ...         ...         ...
male   (71.0, 73.0]         0.0         0.0         0.0         0.0
       (73.0, 75.0]         0.0         0.0         0.0         0.0
       (75.0, 77.0]         0.0         0.0         0.0         0.0
       (77.0, 79.0]         0.0         0.0         0.0         0.0
       (79.0, 81.0]         0.0         0.0         0.0         0.0

age_bin              (8.5, 9.5]  (9.5, 10.5]  ...  (12.5, 13.5]  (13.5, 14.5]  \
sex    length_bin                             ...
female (1.0, 3.0]           0.0          0.0  ...           0.0           0.0
       (3.0, 5.0]           0.0          0.0  ...           0.0           0.0
       (5.0, 7.0]           0.0          0.0  ...           0.0           0.0
       (7.0, 9.0]           0.0          0.0  ...           0.0           0.0
       (9.0, 11.0]          0.0          0.0  ...           0.0           0.0
...                         ...          ...  ...           ...           ...
male   (71.0, 73.0]         0.0          0.0  ...           0.0           0.0
       (73.0, 75.0]         0.0          0.0  ...           0.0           0.0
       (75.0, 77.0]         0.0          0.0  ...           0.0           0.0
       (77.0, 79.0]         0.0          0.0  ...           0.0           0.0
       (79.0, 81.0]         0.0          0.0  ...           0.0           0.0

age_bin              (14.5, 15.5]  (15.5, 16.5]  (16.5, 17.5]  (17.5, 18.5]  \
sex    length_bin
female (1.0, 3.0]             0.0           0.0           0.0           0.0
       (3.0, 5.0]             0.0           0.0           0.0           0.0
       (5.0, 7.0]             0.0           0.0           0.0           0.0
       (7.0, 9.0]             0.0           0.0           0.0           0.0
       (9.0, 11.0]            0.0           0.0           0.0           0.0
...                           ...           ...           ...           ...
male   (71.0, 73.0]           0.0           0.0           0.0           0.0
       (73.0, 75.0]           0.0           0.0           0.0           0.0
       (75.0, 77.0]           0.0           0.0           0.0           0.0
       (77.0, 79.0]           0.0           0.0           0.0           0.0
       (79.0, 81.0]           0.0           0.0           0.0           0.0

age_bin              (18.5, 19.5]  (19.5, 20.5]  (20.5, 21.5]  (21.5, 22.5]
sex    length_bin
female (1.0, 3.0]             0.0           0.0           0.0           0.0
       (3.0, 5.0]             0.0           0.0           0.0           0.0
       (5.0, 7.0]             0.0           0.0           0.0           0.0
       (7.0, 9.0]             0.0           0.0           0.0           0.0
       (9.0, 11.0]            0.0           0.0           0.0           0.0
...                           ...           ...           ...           ...
male   (71.0, 73.0]           0.0           0.0           0.0           0.0
       (73.0, 75.0]           0.0           0.0           0.0           0.0
       (75.0, 77.0]           0.0           0.0           0.0           0.0
       (77.0, 79.0]           0.0           0.0           0.0           0.0
       (79.0, 81.0]           0.0           0.0           0.0           0.0

[80 rows x 22 columns]

In [16]:
survey.results['kriging']['tables']['unaged_tbl']

sex                 female          male
length_bin
(1.0, 3.0]    0.000000e+00  0.000000e+00
(3.0, 5.0]    0.000000e+00  0.000000e+00
(5.0, 7.0]    0.000000e+00  0.000000e+00
(7.0, 9.0]    0.000000e+00  0.000000e+00
(9.0, 11.0]   0.000000e+00  0.000000e+00
(11.0, 13.0]  0.000000e+00  0.000000e+00
(13.0, 15.0]  0.000000e+00  0.000000e+00
(15.0, 17.0]  0.000000e+00  0.000000e+00
(17.0, 19.0]  6.125592e+03  7.305908e+03
(19.0, 21.0]  1.498357e+06  1.743973e+06
(21.0, 23.0]  5.549492e+06  6.361307e+06
(23.0, 25.0]  3.907345e+06  4.252375e+06
(25.0, 27.0]  9.308828e+05  9.244550e+05
(27.0, 29.0]  1.308111e+06  1.291402e+06
(29.0, 31.0]  3.888129e+06  3.506613e+06
(31.0, 33.0]  8.238895e+06  7.602116e+06
(33.0, 35.0]  1.166120e+07  1.177627e+07
(35.0, 37.0]  2.060315e+07  2.179828e+07
(37.0, 39.0]  4.666812e+07  4.968848e+07
(39.0, 41.0]  1.150445e+08  1.230735e+08
(41.0, 43.0]  1.596859e+08  1.704463e+08
(43.0, 45.0]  1.501520e+08  1.571597e+08
(45.0, 47.0]  9.143140e+07  8.884923e+07
(47.0, 49.0]  5.649433e+07  4.568467e+07
(49.0, 51.0]  3.455960e+07  2.150812e+07
(51.0, 53.0]  2.548701e+07  1.047538e+07
(53.0, 55.0]  1.929129e+07  5.978398e+06
(55.0, 57.0]  1.505391e+07  4.072927e+06
(57.0, 59.0]  1.296049e+07  3.556683e+06
(59.0, 61.0]  1.096187e+07  3.130491e+06
(61.0, 63.0]  3.378165e+06  1.022779e+06
(63.0, 65.0]  3.575168e+06  1.392797e+06
(65.0, 67.0]  1.470430e+06  1.119192e+06
(67.0, 69.0]  1.520451e+06  7.259956e+05
(69.0, 71.0]  1.377928e+06  8.940729e+05
(71.0, 73.0]  1.111424e+06  7.234114e+05
(73.0, 75.0]  3.317694e+05  3.573583e+05
(75.0, 77.0]  7.217867e+05  7.774570e+05
(77.0, 79.0]  0.000000e+00  0.000000e+00
(79.0, 81.0]  0.000000e+00  0.000000e+00